body{
    margin: 50px;
}

#text {
  font-weight: unset;
}


#talks{
    margin-top: 550px;
}
#scholarship{
    margin-top: 550px;

}
#phraseJanis {
  margin-left: 20px;
  margin-top: 10px;
}
#subtitle {
  margin-left: 20px;
}

  #footertalks{
   margin-top: 600px;
   
}  
#footerprojects{
    margin-top: 200px;
}


#iottalk, #iotsinopse{
    width: 400px;
    height: 400px;
    margin-bottom: 30px;
}
#projects,#organization{
    margin-top: 50px;
    margin-left: 20px;
}

#publicopy, #finalpy, #amigosFoto, #contestFoto{
    width: 400px;
    height: 400px;
}
html {
  font-size: 1rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}
