body{
    margin: 50px;
}
#text {
  font-weight: unset;
}

#projects {
  margin-left: 20px;
  margin-top: 50px ;
}
#phraseJanis {
  margin-left: 20px;
  margin-top: 10px;
}
#subtitle {
  margin-left: 20px;
}

  #footertalks{
   margin-top: 600px;
   
}  
#footerprojects{
    margin-top: 200px;
}

#iottalk, #iotsinopse{
    width: 500px;
    height: 500px;
   

}
html {
  font-size: 1rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}
